<!-- templates/_base.html -->

{% load compress %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock title %}</title>

    {% compress css %}
    <link rel="stylesheet" href="{% static 'src/output.css' %}">
    {% endcompress %}
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.css" rel="stylesheet" />
</head>

<body>
    {% block header %}
    <header class="fixed top-0 w-full bg-white z-50 shadow">
        {% include "header.html" %}
    </header>
    {% endblock header %}

    <div class="mt-20">
        {% block content %}
        {% endblock content %}
    </div>

    <footer class="bottom-0 w-full bg-white shadow">
        {% include "footer.html" %}
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.2/dist/flowbite.min.js"></script>
</body>

</html>
