{% load i18n %}
{% load static %}
<footer class="bottom-0 w-full bg-white rounded-lg shadow">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2023 <a href="#" class="hover:underline">Alpha Seven Force</a>. {% trans "All Rights Reserved." %}
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">{% trans "About" %}</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">{% trans "Privacy Policy" %}</a>
        </li>
        <li>
            <a href="#" class="hover:underline me-4 md:me-6">{% trans "Licensing" %}</a>
        </li>
        <li>
            <a href="#" class="hover:underline">{% trans "Contact" %}</a>
        </li>
        </ul>
    </div>
</footer>
