{% extends '_base.html' %}
{% load i18n %}

{% block content %}
<div class="bg-white h-7"></div>
<div class="container mx-auto p-4 mt-30 pt-20">
  <h1 class="text-2xl font-bold mb-4">{% trans "Edit Class" %}</h1>

  {% if messages %}
    {% for message in messages %}
      <div class="flex items-center p-4 mb-4 text-sm {% if message.tags == 'success' %}text-green-800 bg-green-50{% elif message.tags == 'error' %}text-red-800 bg-red-50{% else %}text-blue-800 bg-blue-50{% endif %} rounded-lg" role="alert">
        <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
          <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/>
        </svg>
        <span class="sr-only">{% trans "Info" %}</span>
        <div>
          <span class="font-medium">{% trans "Danger alert!" %}</span> {{ message }}
        </div>
      </div>
    {% endfor %}
  {% endif %}

  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
      <div class="mb-4">
        {{ field.label }}
        {{ field }}
        {% if field.errors %}
          <div class="text-red-500 text-md">{{ field.errors }}</div>
        {% endif %}
      </div>
    {% endfor %}

    <button type="submit" class="w-full text-white bg-blue-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">
      {% trans "Submit" %}
    </button>
  </form>

  <br>
  <a href="{% url 'showmember' %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
</div>
{% endblock %}
